// MEDIA QUERIES BOUNDARIES
$query-boundary-1170: 73.125rem; // 1170px
$query-boundary-1024: 64rem; // 1024px
$query-boundary-768: 48rem; // 768px

// COLORS
$color-black87: rgba(0, 0, 0, 0.87);
$color-yellow: #f4e041;
$color-blue: #00bdd3;
$color-light-gray: #f8f8f8;

// LAYOUT
@mixin flex-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    padding: 0 1.6rem;

    @media (min-width: $query-boundary-768) {
        padding: 0 3.2rem;
    }

    @media (min-width: $query-boundary-1024) {
        padding: 0 6rem;
    }

    @media (min-width: $query-boundary-1170) {
        padding: 0;
    }
}


// for use in js code in Spinner component
:export {
    bluecolor: $color-blue;
}
